h1{
    color: red;
    text-align: center;
    background-color:yellow;
}

form{
    background-color: pink;
}
input{
    background-color: aqua;
}
button{
    background-color: orange;
    font-style: oblique;
    
}